2016 Ford World Women's Curling Championship
============================================

Using the results of the round robin play, try to predict who will win the entire bonspiel.

In [9]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy
import pandas
import seaborn

seaborn.set(style='whitegrid')

In [12]:
filename = 'data/2016FordWorld-women.csv'

data = pandas.read_csv(filename)
data.head()

,Team1,Team2,LSFE,e1,e1scoring,e2,e2scoring,e3,e3scoring,e4,...,e8,e8scoring,e9,e9scoring,e10,e10scoring,e11,e11scoring,final1,final2
0,Brown-USA,Feltscher-SUI,1,1,1,2,2,1,1,0,...,1,2,1,1,1,2,4,5,NaN,NaN
1,Fujisawa-JAP,Kauste-FIN,2,1,2,2,1,1,2,2,...,1,1,0,1,7,5,NaN,NaN,NaN,NaN
2,Sidorova-RUS,Apollonio-ITA,1,2,1,1,1,3,1,1,...,1,1,8,2,NaN,NaN,NaN,NaN,NaN,NaN
3,Carey-CAN,Nielsen-DEN,2,3,2,1,2,2,1,0,...,1,2,3,1,1,2,8,7,NaN,NaN
4,Apollonio-ITA,Fujisawa-JAP,2,0,2,3,2,1,1,3,...,2,2,3,10,NaN,NaN,NaN,NaN,NaN,NaN